/* Prettified by Source 2 Viewer 10.0.0.0 - https://valveresourceformat.github.io */

/* Panel.ability
{
	width: 70px;
	height: 70px;
	margin: 1px;
}

Panel.suggest
{
	border: 4px solid #F89F15;
	opacity: 1;
} */

